@import './variables/colors';

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #171717;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Medium.ttf') format('truetype');
	font-weight: medium;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Regular.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Thin.ttf') format('truetype');
	font-weight: thin;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter-Light.ttf') format('truetype');
	font-weight: light;
	font-style: normal;
}
