@import '../../styles/variables/colors';

.sb-container {
	border: 2px solid $white;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;
	.sb-icon {
		path {
			fill: $white;
		}
	}
	.sb-input {
		display: flex;
		width: 484.037px;
		color: $white;
		font-family: Inter;
		font-size: 21px;
		font-weight: regular;
		border-radius: 4.769px;
		padding-left: 10px;
		background-color: inherit;
		border: none;
		outline: none;

		@media (max-width: 640px) {
			width: calc(100% - 30px);
		}
	}
}
