@import '../../styles/variables/colors';

.eps-container {
	width: 1000px;
	height: fit-content;
	margin-top: 130px;
	background-color: $background;
	padding: 15px;
	border-radius: 15px;
	box-sizing: border-box;
	box-shadow: 0px 3.815070867538452px 21.936656951904297px 0px
		rgba(16, 18, 35, 0.3);

	@media (max-width: 1240px) {
		margin-top: 10px;
	}

	.eps-title {
		color: $white;
	}

	.eps-description {
		color: $white;
		font-weight: bold;
		text-decoration: none;
		line-height: 30px;
		font-size: 18px;

		a {
			color: $ligthGray800;
		}
	}

	.eps-audio-container {
		padding: 20px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		audio {
			width: 100%;
		}
	}
}
